<!DOCTYPE html>
<html>
<head>
  <title>Servidor Node.js</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <h1>Bienvenido al servidor Node.js!</h1>
</body>
</html>
